In [129]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [131]:
df=pd.read_csv("C:/Users/gheva/OneDrive/Desktop/glass 1.csv")

In [133]:
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [135]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [137]:
df.tail()

          RI     Na   Mg    Al     Si     K    Ca    Ba   Fe  Type
209  1.51623  14.14  0.0  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.0  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.0  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.0  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.0  2.08  73.36  0.00  8.62  1.67  0.0     7

## EDA ##

In [139]:
df.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [147]:
df.hist()

array([[<Axes: title={'center': 'RI'}>, <Axes: title={'center': 'Na'}>,
        <Axes: title={'center': 'Mg'}>],
       [<Axes: title={'center': 'Al'}>, <Axes: title={'center': 'Si'}>,
        <Axes: title={'center': 'K'}>],
       [<Axes: title={'center': 'Ca'}>, <Axes: title={'center': 'Ba'}>,
        <Axes: title={'center': 'Fe'}>],
       [<Axes: title={'center': 'Type'}>, <Axes: >, <Axes: >]],
      dtype=object)

In [155]:
df.boxplot()

In [157]:
def outlier_detection(data,colname):
  q1 = data[colname].quantile(0.25)
  q3 = data[colname].quantile(0.75)
  iqr = q3 - q1

  upper_extreme = q3 + (1.5 * iqr)
  lower_extreme = q1 - (1.5 * iqr)

  return lower_extreme, upper_extreme,q1,q3

In [159]:
outlier_detection(df,'RI')

(1.5125700000000002, 1.52311, 1.5165225, 1.5191575)

In [161]:
df.loc[df['RI']>2,'RI'] = 2

In [163]:
df.loc[df['RI']<2,'RI'] = 2

In [165]:
outlier_detection(df,'Na')

(11.531250000000004, 15.201249999999998, 12.9075, 13.825)

In [167]:
df.loc[df['Na']>15,'Na'] = 15

In [169]:
df.loc[df['Na']<11,'Na'] = 11

In [171]:
outlier_detection(df,'Al')

(0.53, 2.29, 1.19, 1.63)

In [173]:
df.loc[df['Al']>2,'Al'] = 2

In [175]:
df.loc[df['Al']<1,'Al'] = 1

In [177]:
outlier_detection(df,'K')

(-0.6087499999999999, 1.34125, 0.1225, 0.61)

In [179]:
df.loc[df['K']>1,'K'] = 1

In [181]:
df.loc[df['K']<-0,'K'] = -0

In [183]:
outlier_detection(df,'Ca')

(6.841250000000001, 10.57125, 8.24, 9.1725)

In [185]:
df.loc[df['Ca']>10,'Ca'] = 10

In [187]:
df.loc[df['Ca']<7,'Ca'] = 7

In [189]:
outlier_detection(df,'Ba')

(0.0, 0.0, 0.0, 0.0)

In [191]:
df.loc[df['Ba']>0,'Ba'] = 0

In [193]:
df.loc[df['Ba']<0,'Ba'] = 0

In [195]:
outlier_detection(df,'Fe')

(-0.15000000000000002, 0.25, 0.0, 0.1)

In [197]:
df.loc[df['Fe']>0,'Fe'] = 0

In [199]:
df.loc[df['Fe']<-0,'Fe'] = -0

In [201]:
outlier_detection(df,'Type')

(-2.0, 6.0, 1.0, 3.0)

In [203]:
df.loc[df['Type']>6,'Type'] = 6

In [205]:
df.loc[df['Type']<-2,'Type'] = -2

In [207]:
df.boxplot()

In [209]:
df.drop(columns=['RI'],inplace=True)

In [213]:
df

        Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0    13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1    13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2    13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3    13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4    13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1
..     ...   ...   ...    ...   ...   ...  ...  ...   ...
209  14.14  0.00  2.00  72.61  0.08  9.18  0.0  0.0     6
210  14.92  0.00  1.99  73.06  0.00  8.40  0.0  0.0     6
211  14.36  0.00  2.00  73.42  0.00  8.44  0.0  0.0     6
212  14.38  0.00  1.94  73.61  0.00  8.48  0.0  0.0     6
213  14.23  0.00  2.00  73.36  0.00  8.62  0.0  0.0     6

[214 rows x 9 columns]

In [245]:
df.dtypes

Na      float64
Mg      float64
Al      float64
Si      float64
K       float64
Ca      float64
Ba      float64
Fe      float64
Type      int64
dtype: object

In [247]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [249]:
filename="C:/Users/gheva/OneDrive/Desktop/glass 1.csv"
names=['Na','Mg','Al','Si','K','Ca','Ba','Fe','Type']
dataframe = read_csv(filename, names=names)
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
seed=7

In [ ]:
kfold = KFold(n_splits=10)
cart = DecisionTreeClassifier()
num_trees = 100
seed=7

model = BaggingClassifier(estimator=cart, n_estimators=num_trees, random_state=seed) 
results = cross_val_score(model, X, Y, cv=kfold)

In [ ]:
results

In [ ]:
print(results.mean())

In [ ]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

array = dataframe.values
X = array[:,0:9]
Y = array[:,9]
seed=7

num_trees = 100
max_features = 3 #Total features m=8, K=3 i.e. randomly select 3 features
kfold = KFold(n_splits=10)

model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features) # try random_state=2, n_estimators=10 by default, default=gini
results = cross_val_score(model, X, Y, cv=kfold)

In [ ]:
results

In [ ]:
print(results.mean())

In [ ]:
# AdaBoost Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier
filename="C:/Users/gheva/OneDrive/Desktop/glass 1.csv"
names=['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type']
dataframe = read_csv(filename, names=names)
array = dataframe.values
X = array[:,0:9]
Y = array[:,9]
seed=7
kfold = KFold(n_splits=10, random_state=seed,shuffle=True)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed) #n_estimators=50 by default
results = cross_val_score(model, X, Y, cv=kfold)

In [ ]:
results

In [ ]:
print(results.mean())

In [ ]:
# Stacking Ensemble for Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC # Support Vector Classifier
from sklearn.ensemble import VotingClassifier

filename = '/content/pima-indians-diabetes.data.csv'
filename="C:/Users/gheva/OneDrive/Desktop/glass 1.csv"
names=['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type']
dataframe = read_csv(filename, names=names)
array = dataframe.values
X = array[:,0:9]
Y = array[:,9]
kfold = KFold(n_splits=10)

# create the sub models
estimators = [] # create empty list for different algorithms

model1 = LogisticRegression(max_iter=500)
estimators.append(('logistic', model1))

model2 = DecisionTreeClassifier()
estimators.append(('cart', model2))

model3 = SVC()
estimators.append(('svc', model3))

# create the ensemble model
ensemble = VotingClassifier(estimators)
results = cross_val_score(ensemble, X, Y, cv=kfold)

In [93]:
estimators

[('logistic', LogisticRegression(max_iter=500)),
 ('cart', DecisionTreeClassifier()),
 ('svc', SVC())]

In [ ]:
results

In [ ]:
print(results.mean())

## Interview Questions##

In [ ]:
1. Explain Bagging and Boosting methods. How is it different from each other.

In [ ]:
Ans: Bagging(Bootstrap Aggregating)
          It trains multiple models on different subsets of the data created through bootstrapping .models work independently,and their results
are averaged or majority vated to improve stability and accuracy.Example: Random forest

Boosting:
     It trains models sequentially,where each new model corrects the errors of the previous one. Models are weighted,and misclassified instances get higher
importance in subsequent iterations. Example: AdaBoost,Gradient Boosting,XGBoost

Key Difference:
1.Parallel vs Sequential: Bagging trains models in parallel,while boosting trains them sequentially.
2.Error reduction: Bagging reduces variance,while boosting reduces bias.

In [ ]:
2. Explain how to handle imbalance in the data.

In [ ]:
Ans:     To handle imbalanced data:
1.Resampling: Oversampling: To increase minority class samples.   Undersampling: To reduce majority class samples.
2.Algorithm Adjustments: Use class weights , Apply cost-sensitive learning to penalize misclassification of minority class
3.ensemble methods: Use Boosting to focus on difficult cases.
4.Better metrics: Prefer F1-Score,ROC-AUC,PR-AUC over accuracy.
Synthetic data: Use SMOTE,ADASYN,or GANs to generate new minority samples.